@model IEnumerable<rateservice.Models.Quiz>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QuizStyle.QuizStyleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ForFriends)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuizIsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAnonymously)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QuizStyle.QuizStyleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ForFriends)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuizIsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAnonymously)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
